.gallery{
    padding: 10px;
}

.gallery__container{
    display: flex;
    flex-wrap: wrap;
}

.card{
    margin: 10px 10px 20px 10px;
    width: 150px;
    height: 180px;
}

.card__img{
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.card__alt{
    font-size: 12px;
}